<!--#insert file="modules/-header.html" -->

<div class="content">
    <section class="banner" style="background-image: url(/img/banner_top.jpg);">
    </section>
    <section class="category_description">
        <div class="container">
            <h1>ИКОНЫ</h1>
            <p>
                Серебряные иконы всегда считались настоящей ценностью в доме. Особенно такие изделия популярны сегодня – тогда, когда с момента их создания прошло
                несколько веков. Также востребованы и классические иконы, написанные маслом по деревянному холсту.
                <br>Купить их Вы можете в салоне-магазине Гиацинт.
            </p>
        </div>
    </section>
    <!--#insert file="modules/-catalog-control.html" -->
    <!--#insert file="modules/-catalog-items.html" -->
</div>
<!--#insert file="modules/-footer.html" -->