<section class="catalog-items row">
    <div class="catalog-item">
        <div class="container">
            <div class="catalog-item__img">
                <img src="/img/i_1.jpg" alt="icona">
            </div>
            <div class="catalog-item__desc">
                <div class="catalog-item__title">Икона <br> «Всех скорбящих радости»</div>
                <div class="catalog-item__properties">
                    <span class="catalog-item__properties-item article">
                        <span class="catalog-item__property-name">Артикул: </span>
                        <span class="catalog-item__property-value"> И 0065</span>
                    </span>
                    <span class="catalog-item__properties-item ">
                        <span class="catalog-item__property-name">Автор: </span>
                        <span class="catalog-item__property-value">  Санкт-Петербург, Россия</span>
                    </span>
                    <span class="catalog-item__properties-item ">
                        <span class="catalog-item__property-name">Материал: </span>
                        <span class="catalog-item__property-value">  серебро 84 пробы/золочение</span>
                    </span>
                    <span class="catalog-item__properties-item ">
                        <span class="catalog-item__property-name">Размер:</span>
                        <span class="catalog-item__property-value"> 54 х 40 см</span>
                    </span>
                    <span class="catalog-item__properties-item ">
                        <span class="catalog-item__property-name">Дата изготовления: </span>
                        <span class="catalog-item__property-value">середина ХIX века</span>
                    </span>
                </div>
                <div class="catalog-item__price">
                    396 000 Р
                </div>
            </div>


            <div class="catalog-item__info">
                <a href="" class="catalog-item__read-more">Подробнее</a>
                <a href="" class="catalog-item__favorite">Добавить в избранное</a>
                <a href="" class="catalog-item__ask">Задать вопрос</a>
            </div>
        </div>
    </div>
    <div class="catalog-item">
        <div class="container">
            <div class="catalog-item__img">
                <img src="/img/i_2.jpg" alt="icona">
            </div>
            <div class="catalog-item__desc">
                <div class="catalog-item__title">Икона <br> «Всех скорбящих радости»</div>
                <div class="catalog-item__properties">
                    <span class="catalog-item__properties-item article">
                        <span class="catalog-item__property-name">Артикул: </span>
                        <span class="catalog-item__property-value"> И 0065</span>
                    </span>
                    <span class="catalog-item__properties-item ">
                        <span class="catalog-item__property-name">Автор: </span>
                        <span class="catalog-item__property-value">  Санкт-Петербург, Россия</span>
                    </span>
                    <span class="catalog-item__properties-item ">
                        <span class="catalog-item__property-name">Материал: </span>
                        <span class="catalog-item__property-value">  серебро 84 пробы/золочение, cеребро 84 пробы/золочение</span>
                    </span>
                    <span class="catalog-item__properties-item ">
                        <span class="catalog-item__property-name">Размер:</span>
                        <span class="catalog-item__property-value"> 54 х 40 см</span>
                    </span>
                    <span class="catalog-item__properties-item ">
                        <span class="catalog-item__property-name">Дата изготовления: </span>
                        <span class="catalog-item__property-value">середина ХIX века</span>
                    </span>
                </div>
                <div class="catalog-item__price">
                    396 000 Р
                </div>
            </div>

            <div class="catalog-item__info">
                <a href="" class="catalog-item__read-more">Подробнее</a>
                <a href="" class="catalog-item__favorite">Добавить в избранное</a>
                <a href="" class="catalog-item__ask">Задать вопрос</a>
            </div>
        </div>
    </div>
    <div class="catalog-item">
        <div class="container">
            <div class="catalog-item__img">
                <img src="/img/i_3.jpg" alt="icona">
            </div>
            <div class="catalog-item__desc">
                <div class="catalog-item__title">Икона <br> «Всех скорбящих радости»</div>
                <div class="catalog-item__properties">
                <span class="catalog-item__properties-item article">
                    <span class="catalog-item__property-name">Артикул: </span>
                    <span class="catalog-item__property-value"> И 0065</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Автор: </span>
                    <span class="catalog-item__property-value">  Санкт-Петербург, Россия</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Материал: </span>
                    <span class="catalog-item__property-value">  серебро 84 пробы/золочение</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Размер:</span>
                    <span class="catalog-item__property-value"> 54 х 40 см</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Дата изготовления: </span>
                    <span class="catalog-item__property-value">середина ХIX века</span>
                </span>
                </div>
                <div class="catalog-item__price">
                    396 000 Р
                </div>
            </div>

            <div class="catalog-item__info">
                <a href="" class="catalog-item__read-more">Подробнее</a>
                <a href="" class="catalog-item__favorite">Добавить в избранное</a>
                <a href="" class="catalog-item__ask">Задать вопрос</a>
            </div>
        </div>
    </div>
    <div class="catalog-item">
        <div class="container">
            <div class="catalog-item__img">
                <img src="/img/i_4.jpg" alt="icona">
            </div>
            <div class="catalog-item__desc">
                <div class="catalog-item__title">Икона <br> «Всех скорбящих радости»</div>
                <div class="catalog-item__properties">
                <span class="catalog-item__properties-item article">
                    <span class="catalog-item__property-name">Артикул: </span>
                    <span class="catalog-item__property-value"> И 0065</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Автор: </span>
                    <span class="catalog-item__property-value">  Санкт-Петербург, Россия</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Материал: </span>
                    <span class="catalog-item__property-value">  серебро 84 пробы/золочение</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Размер:</span>
                    <span class="catalog-item__property-value"> 54 х 40 см</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Дата изготовления: </span>
                    <span class="catalog-item__property-value">середина ХIX века</span>
                </span>
                </div>
                <div class="catalog-item__price">
                    396 000 Р
                </div>
            </div>

            <div class="catalog-item__info">
                <a href="" class="catalog-item__read-more">Подробнее</a>
                <a href="" class="catalog-item__favorite">Добавить в избранное</a>
                <a href="" class="catalog-item__ask">Задать вопрос</a>
            </div>
        </div>
    </div>
    <div class="catalog-item">
        <div class="container">
            <div class="catalog-item__img">
                <img src="/img/i_5.jpg" alt="icona">
            </div>
            <div class="catalog-item__desc">
                <div class="catalog-item__title">Икона <br> «Всех скорбящих радости»</div>
                <div class="catalog-item__properties">
                <span class="catalog-item__properties-item article">
                    <span class="catalog-item__property-name">Артикул: </span>
                    <span class="catalog-item__property-value"> И 0065</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Автор: </span>
                    <span class="catalog-item__property-value">  Санкт-Петербург, Россия</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Материал: </span>
                    <span class="catalog-item__property-value">  серебро 84 пробы/золочение</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Размер:</span>
                    <span class="catalog-item__property-value"> 54 х 40 см</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Дата изготовления: </span>
                    <span class="catalog-item__property-value">середина ХIX века</span>
                </span>
                </div>
                <div class="catalog-item__price">
                    396 000 Р
                </div>
            </div>

            <div class="catalog-item__info">
                <a href="" class="catalog-item__read-more">Подробнее</a>
                <a href="" class="catalog-item__favorite">Добавить в избранное</a>
                <a href="" class="catalog-item__ask">Задать вопрос</a>
            </div>
        </div>
    </div>
    <div class="catalog-item">
        <div class="container">
            <div class="catalog-item__img">
                <img src="/img/i_6.jpg" alt="icona">
            </div>
            <div class="catalog-item__desc">
                <div class="catalog-item__title">Икона <br> «Всех скорбящих радости»</div>
                <div class="catalog-item__properties">
                <span class="catalog-item__properties-item article">
                    <span class="catalog-item__property-name">Артикул: </span>
                    <span class="catalog-item__property-value"> И 0065</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Автор: </span>
                    <span class="catalog-item__property-value">  Санкт-Петербург, Россия</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Материал: </span>
                    <span class="catalog-item__property-value">  серебро 84 пробы/золочение</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Размер:</span>
                    <span class="catalog-item__property-value"> 54 х 40 см</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Дата изготовления: </span>
                    <span class="catalog-item__property-value">середина ХIX века</span>
                </span>
                </div>
                <div class="catalog-item__price">
                    396 000 Р
                </div>
            </div>

            <div class="catalog-item__info">
                <a href="" class="catalog-item__read-more">Подробнее</a>
                <a href="" class="catalog-item__favorite">Добавить в избранное</a>
                <a href="" class="catalog-item__ask">Задать вопрос</a>
            </div>
        </div>
    </div>
    <div class="catalog-item">
        <div class="container">
            <div class="catalog-item__img">
                <img src="/img/i_7.jpg" alt="icona">
            </div>
            <div class="catalog-item__desc">
                <div class="catalog-item__title">Икона <br> «Всех скорбящих радости»</div>
                <div class="catalog-item__properties">
                <span class="catalog-item__properties-item article">
                    <span class="catalog-item__property-name">Артикул: </span>
                    <span class="catalog-item__property-value"> И 0065</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Автор: </span>
                    <span class="catalog-item__property-value">  Санкт-Петербург, Россия</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Материал: </span>
                    <span class="catalog-item__property-value">  серебро 84 пробы/золочение</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Размер:</span>
                    <span class="catalog-item__property-value"> 54 х 40 см</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Дата изготовления: </span>
                    <span class="catalog-item__property-value">середина ХIX века</span>
                </span>
                </div>
                <div class="catalog-item__price">
                    396 000 Р
                </div>
            </div>

            <div class="catalog-item__info">
                <a href="" class="catalog-item__read-more">Подробнее</a>
                <a href="" class="catalog-item__favorite">Добавить в избранное</a>
                <a href="" class="catalog-item__ask">Задать вопрос</a>
            </div>
        </div>
    </div>
    <div class="catalog-item">
        <div class="container">
            <div class="catalog-item__img">
                <img src="/img/i_8.jpg" alt="icona">
            </div>
            <div class="catalog-item__desc">
                <div class="catalog-item__title">Икона <br> «Всех скорбящих радости»</div>
                <div class="catalog-item__properties">
                <span class="catalog-item__properties-item article">
                    <span class="catalog-item__property-name">Артикул: </span>
                    <span class="catalog-item__property-value"> И 0065</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Автор: </span>
                    <span class="catalog-item__property-value">  Санкт-Петербург, Россия</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Материал: </span>
                    <span class="catalog-item__property-value">  серебро 84 пробы/золочение</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Размер:</span>
                    <span class="catalog-item__property-value"> 54 х 40 см</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Дата изготовления: </span>
                    <span class="catalog-item__property-value">середина ХIX века</span>
                </span>
                </div>
                <div class="catalog-item__price">
                    396 000 Р
                </div>
            </div>

            <div class="catalog-item__info">
                <a href="" class="catalog-item__read-more">Подробнее</a>
                <a href="" class="catalog-item__favorite">Добавить в избранное</a>
                <a href="" class="catalog-item__ask">Задать вопрос</a>
            </div>
        </div>
    </div>
    <div class="catalog-item">
        <div class="container">
            <div class="catalog-item__img">
                <img src="/img/i_9.jpg" alt="icona">
            </div>
            <div class="catalog-item__desc">
                <div class="catalog-item__title">Икона <br> «Всех скорбящих радости»</div>
                <div class="catalog-item__properties">
                <span class="catalog-item__properties-item article">
                    <span class="catalog-item__property-name">Артикул: </span>
                    <span class="catalog-item__property-value"> И 0065</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Автор: </span>
                    <span class="catalog-item__property-value">  Санкт-Петербург, Россия</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Материал: </span>
                    <span class="catalog-item__property-value">  серебро 84 пробы/золочение</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Размер:</span>
                    <span class="catalog-item__property-value"> 54 х 40 см</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Дата изготовления: </span>
                    <span class="catalog-item__property-value">середина ХIX века</span>
                </span>
                </div>
                <div class="catalog-item__price">
                    396 000 Р
                </div>
            </div>

            <div class="catalog-item__info">
                <a href="" class="catalog-item__read-more">Подробнее</a>
                <a href="" class="catalog-item__favorite">Добавить в избранное</a>
                <a href="" class="catalog-item__ask">Задать вопрос</a>
            </div>
        </div>
    </div>
    <div class="catalog-item">
        <div class="container">
            <div class="catalog-item__img">
                <img src="/img/i_10.jpg" alt="icona">
            </div>
            <div class="catalog-item__desc">
                <div class="catalog-item__title">Икона <br> «Всех скорбящих радости»</div>
                <div class="catalog-item__properties">
                <span class="catalog-item__properties-item article">
                    <span class="catalog-item__property-name">Артикул: </span>
                    <span class="catalog-item__property-value"> И 0065</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Автор: </span>
                    <span class="catalog-item__property-value">  Санкт-Петербург, Россия</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Материал: </span>
                    <span class="catalog-item__property-value">  серебро 84 пробы/золочение</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Размер:</span>
                    <span class="catalog-item__property-value"> 54 х 40 см</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Дата изготовления: </span>
                    <span class="catalog-item__property-value">середина ХIX века</span>
                </span>
                </div>
                <div class="catalog-item__price">
                    396 000 Р
                </div>
            </div>
            <div class="catalog-item__info">
                <a href="" class="catalog-item__read-more">Подробнее</a>
                <a href="" class="catalog-item__favorite">Добавить в избранное</a>
                <a href="" class="catalog-item__ask">Задать вопрос</a>
            </div>
        </div>
    </div>
    <div class="catalog-item">
        <div class="container">
            <div class="catalog-item__img">
                <img src="/img/i_11.jpg" alt="icona">
            </div>
            <div class="catalog-item__desc">
                <div class="catalog-item__title">Икона <br> «Всех скорбящих радости»</div>
                <div class="catalog-item__properties">
                <span class="catalog-item__properties-item article">
                    <span class="catalog-item__property-name">Артикул: </span>
                    <span class="catalog-item__property-value"> И 0065</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Автор: </span>
                    <span class="catalog-item__property-value">  Санкт-Петербург, Россия</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Материал: </span>
                    <span class="catalog-item__property-value">  серебро 84 пробы/золочение</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Размер:</span>
                    <span class="catalog-item__property-value"> 54 х 40 см</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Дата изготовления: </span>
                    <span class="catalog-item__property-value">середина ХIX века</span>
                </span>
                </div>
                <div class="catalog-item__price">
                    396 000 Р
                </div>
            </div>

            <div class="catalog-item__info">
                <a href="" class="catalog-item__read-more">Подробнее</a>
                <a href="" class="catalog-item__favorite">Добавить в избранное</a>
                <a href="" class="catalog-item__ask">Задать вопрос</a>
            </div>
        </div>
    </div>
    <div class="catalog-item">
        <div class="container">
            <div class="catalog-item__img">
                <img src="/img/i_12.jpg" alt="icona">
            </div>
            <div class="catalog-item__desc">
                <div class="catalog-item__title">Икона <br> «Всех скорбящих радости»</div>
                <div class="catalog-item__properties">
                <span class="catalog-item__properties-item article">
                    <span class="catalog-item__property-name">Артикул: </span>
                    <span class="catalog-item__property-value"> И 0065</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Автор: </span>
                    <span class="catalog-item__property-value">  Санкт-Петербург, Россия</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Материал: </span>
                    <span class="catalog-item__property-value">  серебро 84 пробы/золочение</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Размер:</span>
                    <span class="catalog-item__property-value"> 54 х 40 см</span>
                </span>
                <span class="catalog-item__properties-item ">
                    <span class="catalog-item__property-name">Дата изготовления: </span>
                    <span class="catalog-item__property-value">середина ХIX века</span>
                </span>
                </div>
                <div class="catalog-item__price">
                    396 000 Р
                </div>
            </div>

            <div class="catalog-item__info">
                <a href="" class="catalog-item__read-more">Подробнее</a>
                <a href="" class="catalog-item__favorite">Добавить в избранное</a>
                <a href="" class="catalog-item__ask">Задать вопрос</a>
            </div>
        </div>
    </div>
</section>