<section class="catalog-control">
    <div class="container">
        <div class="catalog-control__filters">
            <a href="" class="catalog-control__filter-start">Фильтровать</a>
        </div>
        <div class="catalog-control__layout">
            <a href=""  class="catalog-control__show-all">Показать все</a>
            <a href="" data-layout="row" class="catalog-control__rows active"></a>
            <a href="" data-layout="block" class="catalog-control__block"></a>
        </div>
    </div>
</section>