<footer class="footer">
    <div class="container">
        <div class="copy">© 2015 «Галерея Михайлов»</div>
        <div class="footer__social">
            <span class="footer__social__title">Мы в социальных сетях</span>
            <a href="" class="footer__social__facebook"></a>
            <a href="" class="footer__social__twitter"></a>
            <a href="" class="footer__social__instagram"></a>
            <a href="" class="footer__social__g-plus"></a>
        </div>
    </div>
</footer>
<script src="/js/dist/vendor.js"></script>
<script src="/js/dist/main.js"></script>
</body>
</html>