<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header class="header">
    <div class="top-panel">
        <div class="container">
            <a href="" class="top-panel__contact">Контакты</a>
            <a href="" class="top-panel__phone">+7 495 223 56 12</a>
            <a href="" class="top-panel__recall">Заказать звонок</a>
            <span class="top-panel__input-field">
                <input type="search" class="top-panel__search" placeholder="Поиск">
                <i class="top-panel__search-icon"></i>
            </span>
            <a href="" class="top-panel__signin">Вход</a>
        </div>
    </div>
    <div class="header-logo">
        <div class="container">
            <a href="/" class="header-logo__container">
                <img src="/img/logo.png" alt="logo">
            </a>
        </div>
    </div>
    <div class="mobile-control">
        <div class="container"><span class="mobile-control__burger"></span>
            <span class="mobile-control__menu">Меню</span>
            <div class="mobile-control__input-field">
                <input type="search" class="mobile-control__search">
                <i class="mobile-control__search-icon"></i>
            </div>
            <a href="" class="mobile-control__signin">Вход</a>
        </div>
    </div>
    <!--#insert file="-menu.html" -->
</header>
