<div class="module-menu">
    <div class="container">
        <ul class="menu ">
            <li class="menu__item"><a href="">о салоне</a></li>
            <li class="menu__item menu__item-sub">
                <a href="">Каталог</a>
                <ul class="menu__sub-menu ">
                    <li class="menu__sub-menu__item ">
                        <div class="menu__sub-menu__img" style="background-image: url(/img/menu_img_1.png);"></div>
                        <a href="">Антиквариат </a>
                    </li>
                    <li class="menu__sub-menu__item mobile">
                        <div class="menu__sub-menu__img" style="background-image: url(/img/menu_img_2.png);"></div>
                        <a href="">Картины   </a>
                    </li>
                    <li class="menu__sub-menu__item">
                        <div class="menu__sub-menu__img" style="background-image: url(/img/menu_img_3.png);"></div>
                        <a href="">Бронза   </a>
                    </li>
                    <li class="menu__sub-menu__item mobile">
                        <div class="menu__sub-menu__img" style="background-image: url(/img/menu_img_4.png);"></div>
                        <a href="">Мебель      </a>
                    </li>
                    <li class="menu__sub-menu__item mobile">
                        <div class="menu__sub-menu__img" style="background-image: url(/img/menu_img_5.png);"></div>
                        <a href="">Стекло      </a>
                    </li>
                    <li class="menu__sub-menu__item mobile">
                        <div class="menu__sub-menu__img" style="background-image: url(/img/menu_img_6.png);"></div>
                        <a href="">Иконы     </a>
                    </li>
                    <li class="menu__sub-menu__item mobile">
                        <div class="menu__sub-menu__img" style="background-image: url(/img/menu_img_7.png);"></div>
                        <a href="">Серебро     </a>
                    </li>
                    <li class="menu__sub-menu__item mobile">
                        <div class="menu__sub-menu__img" style="background-image: url(/img/menu_img_8.png);"></div>
                        <a href="">Ювелирные изделия   </a>
                    </li>
                    <li class="menu__sub-menu__item mobile">
                        <div class="menu__sub-menu__img" style="background-image: url(/img/menu_img_9.png);"></div>
                        <a href="">Люстры</a>
                    </li>
                    <li class="menu__sub-menu__item">
                        <div class="menu__sub-menu__img" style="background-image: url(/img/menu_img_2.png);"></div>
                        <a href="">Фарфор  </a>
                    </li>
                    <li class="menu__sub-menu__item mobile">
                        <div class="menu__sub-menu__img" style="background-image: url(/img/menu_img_3.png);"></div>
                        <a href="">Скульптура  </a>
                    </li>
                    <li class="menu__sub-menu__item">
                        <div class="menu__sub-menu__img" style="background-image: url(/img/menu_img_4.png);"></div>
                        <a href="">Вазы      </a>
                    </li>
                    <li class="menu__sub-menu__item">
                        <div class="menu__sub-menu__img" style="background-image: url(/img/menu_img_5.png);"></div>
                        <a href="">Чайные пары</a>
                    </li>
                    <li class="menu__sub-menu__item">
                        <div class="menu__sub-menu__img" style="background-image: url(/img/menu_img_6.png);"></div>
                        <a href="">Тарелки </a>
                    </li>
                    <li class="menu__sub-menu__item">
                        <div class="menu__sub-menu__img" style="background-image: url(/img/menu_img_7.png);"></div>
                        <a href="">Посуда</a>
                    </li>
                    <li class="menu__sub-menu__item">
                        <div class="menu__sub-menu__img" style="background-image: url(/img/menu_img_8.png);"></div>
                        <a href="">Часы   </a>
                    </li>
                    <li class="menu__sub-menu__item">
                        <div class="menu__sub-menu__img" style="background-image: url(/img/menu_img_9.png);"></div>
                        <a href="">Разное</a>
                    </li>
                </ul>
            </li>
            <li class="menu__item"><a href="">Оценка | выкуп</a></li>
            <li class="menu__item"><a href="">Реставрация</a></li>
            <li class="menu__item"><a href="">Новости</a></li>
            <li class="menu__item"><a href="">Контакты</a></li>
        </ul>
    </div>
</div>

 