.banner{
  background-size:cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 190px;
  @include breakpoint($tablet){
    height: 230px;
  }
  @include breakpoint($desktop){
    height: 310px;
  }

}