$font: "OpenSansRegular";
$font-light: "OpenSansLight";
$font-bold: "OpenSansBold";

$c-border: #cacaca;
$c-font-grey: #787878;
$c-font-black: #231f20;
$c-font-lgrey: #bbb;
$c-dark: #231f20;

$tablet: 768px;
$desktop: 1024px;

$fonts-index: 1;
$base-font-size: 12*$fonts-index;
$font-size: 12px;

@mixin fzRem($size){
  $remSize: $size/$base-font-size;
  font-size: $size  * 1px*$fonts-index;
  font-size: $remSize * 1rem;
}

@mixin placeholder($color){
  ::-webkit-input-placeholder {color:$color;}
  ::-moz-placeholder          {color:$color;}/* Firefox 19+ */
  :-moz-placeholder           {color:$color;}/* Firefox 18- */
  :-ms-input-placeholder      {color:$color;}
}

@function toRem($value){
  $result: $value / $base-font-size  * 1rem;
  @return $result;
}